@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="documentation">
    <div class="menu">
    <ul>
        <li>@Html.RouteLink("Introduction", "Documentation", new { path = "introduction" })</li>
        <li>@Html.RouteLink("Bundle Configuration", "Documentation", new { path = "introduction" })
            <ul>
                <li>@Html.RouteLink("Introduction", "Documentation", new { path = "introduction" })</li>
                <li>@Html.RouteLink("Introduction", "Documentation", new { path = "introduction" })</li>
                <li>@Html.RouteLink("Introduction", "Documentation", new { path = "introduction" })</li>
            </ul>
        </li>
        <li>@Html.RouteLink("Introduction", "Documentation", new { path = "introduction" })</li>
        <li>@Html.RouteLink("Introduction", "Documentation", new { path = "introduction" })</li>
        <li>@Html.RouteLink("Introduction", "Documentation", new { path = "introduction" })</li>
    </ul>
        
    </div>

    <div class="content">
        @RenderBody()
    </div>
</div>
   