@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="documentation" class="edge">
    <div class="title">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="menu">
    <ul>
        <li>@Html.RouteLink("Getting Started", "Documentation", new { path = "introduction" })</li>
        <li>@Html.RouteLink("Bundle Configuration", "Documentation", new { path = "configuration" })
            <ul>
                <li>@Html.RouteLink("Adding Assets", "Documentation", new { path = "bundle-configuration/adding-assets" })</li>                                
                <li>@Html.RouteLink("Other Options", "Documentation", new { path = "bundle-configuration/other" })</li>
            </ul>
        </li>
        <li>@Html.RouteLink("Rendering Bundles", "Documentation", new { path = "rendering-bundles" })
            <ul>
                <li>@Html.RouteLink("Referencing", "Documentation", new { path = "rendering/referencing" })</li>
                <li>@Html.RouteLink("Dependency Resolution", "Documentation", new { path = "rendering/dependency-resolution" })</li>
            </ul>
        </li>
        <li>@Html.RouteLink("Pipelines", "Documentation", new { path = "pipelines" })
            <ul>
                <li>@Html.RouteLink("Customization", "Documentation", new { path = "pipelines/customization" })</li>
            </ul>
        </li>
        
        <li>@Html.RouteLink("Customer Minifiers", "Documentation", new { path = "custom-minifiers" })</li>
        <li>@Html.RouteLink("Debug Mode", "Documentation", new { path = "debug-mode" })</li>
        <li>@Html.RouteLink("Browser Caching", "Documentation", new { path = "browser-caching" })</li>
        <li>@Html.RouteLink("Plugins", "Documentation", new { path = "plugins" })
            <ul>
                <li>@Html.RouteLink("Create a Plugin", "Documentation", new { path = "plugins/create-plugin" })</li>
                <li>@Html.RouteLink("Modify Pipeline", "Documentation", new { path = "plugins/modify-pipeline" })</li>
                <li>@Html.RouteLink("Modify Patterns", "Documentation", new { path = "plugins/modify-search-patterns" })</li>
                <li>@Html.RouteLink("Bundle Types", "Documentation", new { path = "plugins/bundle-types" })</li>
            </ul>
        </li>
        <li>@Html.RouteLink("Web.Config", "Documentation", new { path = "web-config" })
            <ul>
                <li>@Html.RouteLink("WAB Section", "Documentation", new { path = "web-config/wab-section" })</li>
            </ul>        
        </li>
        <li>@Html.RouteLink("Logging", "Documentation", new { path = "logging" })
            <ul>
                <li>@Html.RouteLink("Log4Net Config", "Documentation", new { path = "logging/log4-net" })</li>
                <li>@Html.RouteLink("Custom Logger", "Documentation", new { path = "logging/custom-logger" })</li>
            </ul>        
        </li>
    </ul>
        
    </div>

    <div class="content">
        @RenderBody()
    </div>
</div>
   