@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="documentation">
    <div class="menu">
    <ul>
        <li>@Html.RouteLink("Introduction", "Documentation", new { path = "introduction" })</li>
        <li>@Html.RouteLink("Bundle Configuration", "Documentation", new { path = "configuration" })
            <ul>
                <li>@Html.RouteLink("Adding Assets", "Documentation", new { path = "bundle-configuration/adding-assets" })</li>                
                <li>@Html.RouteLink("Configuration Provider", "Documentation", new { path = "bundle-configuration/configuration-provider" })</li>
                <li>@Html.RouteLink("Other Options", "Documentation", new { path = "bundle-configuration/other" })</li>
            </ul>
        </li>
        <li>@Html.RouteLink("Rendering Bundles", "Documentation", new { path = "rendering-bundles" })</li>
        <li>@Html.RouteLink("Minifiying", "Documentation", new { path = "minifying" })</li>
        <li>@Html.RouteLink("Extensibility", "Documentation", new { path = "extensibility" })</li>
    </ul>
        
    </div>

    <div class="content">
        @RenderBody()
    </div>
</div>
   