<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

        @Bundler.StyleSheets.Render("StyleSheets")
        @Bundler.StyleSheets.Include("~/Content/Test.css.css");

        @Bundler.Scripts.Render("Scripts")
        @Bundler.Scripts.Include("~/Scripts/modernizr-1.7.js")

</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>

            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("DefaultGroup", "DefaultGroup", "Example")</li>                    
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
